INSERT INTO user
(id,
lower_name,
name,
full_name,
email,
passwd,
login_type,
login_source,
login_name,
type,
location,
website,
rands,
salt,
created_unix,
updated_unix,
last_repo_visibility,
max_repo_creation,
is_active,
is_admin,
allow_git_hook,
allow_import_local,
prohibit_login,
avatar,
avatar_email,
use_custom_avatar,
num_followers,
num_following,
num_stars,
num_repos,
description,
num_teams,
num_members)
VALUES
(1,
"{{gogs_login_user}}",
"{{gogs_login_user}}",
"",
"{{gogs_login_email}}",
"d5aecf0d45882bdbca35c52994c6391a7b919330ecd0ddc11b5e989025075bef5506abf1e9568c1f8f386979eae9b8676f58",
0,
0,
"",
0,
"",
"",
"HXHYAVF8O3",
"IChrqEj23H",
{{ansible_date_time.epoch}},
{{ansible_date_time.epoch}},
0,
-1,
1,
1,
0,
0,
0,
"a271b3e9e4839b384d5e41fa3442baac",
"{{gogs_login_email}}",
0,
0,
0,
0,
0,
"",
0,
0)
